# Import library & Connect to databases

In [12]:
import pyodbc
import pandas as pd

In [13]:
password = "Matkhau@123"

In [14]:
connection_string = "Driver={ODBC Driver 18 for SQL Server};Server=tcp:vietz.database.windows.net,1433;Database=db_lab05;Uid=tendangnhap;"+f"Pwd={password}"+";Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;"
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()

InterfaceError: ('IM002', '[IM002] [Microsoft][ODBC Driver Manager] Data source name not found and no default driver specified (0) (SQLDriverConnect)')

# Queries

## 1
Find the average sell and buy price by gold type (PNJ,SJC)

In [ ]:
# Read q1.sql
with open('./SQL/1.sql') as f:
    query = f.read()

df = pd.read_sql(query, conn)
df

<ipython-input-8-f970bf72bfb9>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

   avg_buy  avg_sell
0     72.0      74.7
1     75.7      77.6

In [ ]:
df['type'] = ['PNJ','SJC']
df

   avg_buy  avg_sell type
0     72.0      74.7  PNJ
1     75.7      77.6  SJC

In [ ]:
df.to_csv('./output/1.csv',index=False)

We can predict that price of PNJ (Phu Nhuan Jewelry) gold is lower than SJC (Saigon Jewelry Holding Company). Further, after checking for all rows, it's right.

**Why is SJC gold more expensive than PNJ gold?**
- In the psychology of Vietnamese people, SJC gold is national gold. Most people think that SJC gold is more assured in quality, so it is easier to buy and sell.
- When instability occurs in the market, SJC gold is not affected too much.
- The number of SJC gold bars on the market is limited. After becoming the State gold brand, SJC Company was not licensed to conduct gold bar production activities.

ref: [Tại sao giá vàng SJC cao hơn PNJ? - VTC news]("https://vtcnews.vn/tai-sao-gia-vang-sjc-cao-hon-pnj-ar849784.html")

## 2
Find the highest sell price and update time

In [ ]:
# Read q2.sql
with open('./SQL/2.sql') as f:
    query = f.read()

df = pd.read_sql(query, conn)
df

<ipython-input-12-345530d250f8>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

  update_time type  highest_sell
0  2024-05-10  SJC          92.2
1  2024-05-11  SJC          92.2
2  2024-05-20  PNJ          77.6
3  2024-05-22  PNJ          77.6

In [ ]:
df.to_csv('./output/2.csv',index=False)

Dễ thấy rằng giá vàng SJC cao nhất vào ngày 10,11 tháng 5, và PNJ là từ ngày 20,22 tháng 5.

(Easy to see that, the highest price of SJC  is from 10-11 May and  the highest price of PNJ is from 20,22 May .)

**Tại sao? (Why?)**

Số đơn xin trợ cấp thất nghiệp lần đầu tuần qua tại Mỹ đã tăng mạnh so với tuần trước đó, khiến giới đầu tư lo ngại nền kinh tế số 1 thế giới đã có dấu hiệu suy yếu. 

(The number of first-time applications for unemployment benefits last week in the US increased sharply compared to the previous week, making investors worry that the world's No. 1 economy has shown signs of weakness.)

Kỳ vọng lãi suất thấp và rủi ro tăng đã khiến giới đầu tư đẩy mạnh mua vàng nhằm tìm kiếm lợi nhuận và bảo toàn vốn.

(Expectations of low interest rates and increased risks have prompted investors to buy gold to seek profits and preserve capital.)

Nhu cầu mua vàng tích trữ cũng tăng mạnh trong dân cũng như các ngân hàng trung ương. (The need to buy and store gold also increased sharply among the people as well as central banks.)

Sau mỗi phiên đấu giá thì giá trúng thầu tiếp tục tăng mạnh so với phiên trước. 

(After each auction, the winning price continues to increase sharply compared to the previous session.)

ref: [Nguyên nhân nào khiến giá vàng liên tục "phá đỉnh" sau đấu thầu?]("https://laodong.vn/video/nguyen-nhan-nao-khien-gia-vang-lien-tuc-pha-dinh-sau-dau-thau-1339187.ldo")

## 3
Find the highest rate and update time

In [ ]:
# Read q3.sql
with open('./SQL/3.sql') as f:
    query = f.read()

df = pd.read_sql(query, conn)
df

<ipython-input-14-d9aaf3ef1438>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

  update_time type  highest_rate
0  2024-04-09  PNJ          2.06
1  2024-04-23  SJC          7.46

## 4
Calculate the difference between the selling price and the buying price for each type and find the average difference over the entire period.

In [ ]:
# Read q4.sql
with open('./SQL/4.sql') as f:
    query = f.read()

df = pd.read_sql(query, conn)
df

<ipython-input-15-81a0afdc42e8>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

  update_time type  highest_rate
0  2024-04-23  PNJ         -1.74
1  2024-04-24  SJC         -6.37

## 5 
What are the 5 days with the highest volatility for both PNJ and SJC ?

In [ ]:
# Read q5.sql
with open('./SQL/5.sql') as f:
    query = f.read()

df = pd.read_sql(query, conn)
df

## 6
What is the trend in purchase prices over time for each category? Are they increasing, decreasing or stable?

In [ ]:
# Read q6.sql
with open('./SQL/6.sql') as f:
    query = f.read()

df = pd.read_sql(query, conn)
df

## 7
Compare the difference in selling price between PNJ and SJC

In [ ]:
# Read q7.sql
with open('./SQL/7.sql') as f:
    query = f.read()

df = pd.read_sql(query, conn)
df