In [14]:
import pandas as pd

In [15]:
pnj = pd.read_csv('./six_month_max_pnj.csv')
pnj.head()

       update type    buy   sell
0  2023-12-22  PNJ  62.95  61.90
1  2023-12-23  PNJ  62.95  61.90
2  2023-12-25  PNJ  63.15  62.00
3  2023-12-26  PNJ  63.65  62.55
4  2023-12-27  PNJ  63.85  62.75

In [16]:
# add a column for rate of change 
# rate of change = (new - old) / old * 100

pnj['rate'] = None

for i in range(1, len(pnj)):
    pnj.loc[i, 'rate'] = round((pnj.loc[i, 'sell'] - pnj.loc[i-1, 'sell']) / pnj.loc[i-1, 'sell'] * 100, 2)

In [17]:
pnj.head()

       update type    buy   sell  rate
0  2023-12-22  PNJ  62.95  61.90  None
1  2023-12-23  PNJ  62.95  61.90   0.0
2  2023-12-25  PNJ  63.15  62.00  0.16
3  2023-12-26  PNJ  63.65  62.55  0.89
4  2023-12-27  PNJ  63.85  62.75  0.32

In [18]:
pnj.to_csv('./six_month_max_pnj_rate.csv', index=False)

In [19]:
sjc = pd.read_csv('./six_month_max_sjc.csv')

sjc['rate'] = None

for i in range(1, len(sjc)):
    sjc.loc[i, 'rate'] = round(((sjc.loc[i, 'sell'] - sjc.loc[i-1, 'sell']) / sjc.loc[i-1, 'sell'] * 100),2)

sjc.to_csv('./six_month_max_sjc_rate.csv', index=False)